@import "../../../../Styles/App/base/vars";

.popular {
    &__cart-wrapper {
        position: absolute;
        top: 0vh;

        width: $wrapper-width;
  
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__cart-icon {
        position: absolute;
        top: 5vh;

        margin-right: 10px;

        // position: relative;

        width: 60px;
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        cursor: pointer;
    }

    .cart-icon__count {
        position: absolute;
        top: 14px;
        right: -2px;

        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
        line-height: 0.5;

        border-radius: 50%;
        background-color: #ee940c;
    }
}