// Fonts
$open-sans: 'Open Sans', sans-serif;
$federo: 'Federo', sans-serif;

// Colors
$body-bg: #c97a7a;
$title-h1: #3A3A3A;

$slider-title-color: #757575;
$slider-selected-title-color: #505050;
$slider-selected-bg: #FBF9F3;
$slider-selected-pic-color: #4F4E4E;

$item-title-color: #2A2A2B;
$item-price-color: #8C8C8C;

// Wrapper 
$wrapper-padding: 0 15px;
