@import "../../../../Styles/App/base/vars";

.slider__item {
    width: calc((#{$wrapper-width} - 30px) / #{$number-items-slider});
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $slider-selected-bg;

    &-title {
        color: $slider-title-color;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.49px;
    }

    &-pic {
        margin-bottom: 12px;

        width: 78px;
        height: 78px;
        
        // background-image: url(../../../../assets/sliderItems/slider__item-1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}